
body{
  margin: 0px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
p{
  display: inherit;
  font-family: 'Dosis', sans-serif;
  line-height: 2;
}
hr{

  border-top: dotted 5px #EAF6F6;
  width: 3%;
}
h1{
  color: #66BFBF;
  font-family: 'Dancing Script', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Dancing Script', cursive;
}
h3{
  color: #11999E;
  font-family: 'Dancing Script', cursive;
}
a{
  color: #11999E;
  font-family: 'Dancing Script', cursive;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.raw-image1{
  border-radius:50%; width:25%;  float: left;
}
.raw-image2{
  border-radius:50%; width:25%;  float: right;
}

/*
.red{
  height:100px;
  width:100px;
  background-color:red;
  position: absolute;
  top: 200px;
  left: 200px;
}
.blue{
  height:100px;
  width:100px;
  background-color:blue;
  position: absolute;
  top: 100px;
  left: 100px;
}
.yellow{
  height:100px;
  width:100px;
  background-color:yellow;
  position: absolute;
}*/

.top_container{
  background-color: #EAF6F6;
}
/*.mid_container{
  margin-left: 220px;
  height: 180px;
  width: 180px;
  background-color: red;
  border: solid 20px;
}*/
.bottom-container{
  margin-top: 100px;
  background-color: #66BFBF;
}
.footer-link{
  color: #11999E;
}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Dancing Script', cursive;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #BED2EF 1px;
   background: #C0D2F0;
   background-image: -webkit-linear-gradient(top, #C0D2F0, #6BA3E1);
   background-image: -moz-linear-gradient(top, #C0D2F0, #6BA3E1);
   background-image: -ms-linear-gradient(top, #C0D2F0, #6BA3E1);
   background-image: -o-linear-gradient(top, #C0D2F0, #6BA3E1);
   background-image: -webkit-gradient(to bottom, #C0D2F0, #6BA3E1);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
